<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="wrapper">
  <% @products.each do |product| %>
    <div class="<%= cycle('grid_item_1', 'grid_item_2', 'grid_item_3') %> grid_item_basic" >

      <div class="product_grid_wrapper">
        <div class="image_wrapper">
          <%= image_tag(product.image_url, class: 'image_in_grid') %>
        </div>
        <div class="details_in_grid">
          <%= product.title %>
          <%= number_to_currency(product.price) %>

          <div id="description">
            <%= truncate(strip_tags(product.description), length: 200) %>
          </div>

          <div>
          <%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
