<!DOCTYPE html>
<html>
  <head>
    <title>Mystore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>' >
  	<div id="banner">
      <%= image_tag('logo.svg', alt: 'Test', class: 'logo_resizer') %>
  	</div>
  	<div id="columns">
  		<div id="sidebar">
  			<ul>
  				<li><a href="/products"><%= t('.home') %></a></li>
  				<li><a href="#"><%= t('.about') %></a></li>
  				<li><a href="#"><%= t('.questions') %></a></li>
  				<li><a href="#"><%= t('.contact') %></a></li>
              <%= form_tag products_index_path, class: 'locale' do %>
          <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
          <%= submit_tag 'submit' %>
          <%= javascript_tag "$('.locale input').hide()" %>
        <% end %>
        </ul>
  		</div>
  		<div id="main">
  			<%= yield %>
  		</div>

  	</div>
  </body>
</html>
